{% extends 'admin.html.twig' %}

{% block title %}Landing pages introductions{% endblock %}

{% block elementTitle %}Landing pages introductions{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Listes des introductions</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>

                </div>

                <div class="card-content collapse show">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>name</th>
                                    <th>nombre</th>
                                    <th>action</th>
                                </tr>

                                </thead>
                                <tbody>


                                {% for result in results %}



                                    <tr>
                                        <th scope="row">{{ result.id }}</th>


                                        <td>name</td>
                                        <td>nombre</td>
                                        <td><span> <a href="{{ path('admin_introductionlandingpage_edit',{'id':result.id}) }}">Editer</a></span></td>
                                    </tr>

                                {% endfor %}



                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>

            <a href="{{ path('admin_introductionlandingpage_add') }}"><button type="button" class="btn btn-outline-primary btn-min-width mr-1 mb-1">Ajouter une introduction</button></a>

            </div>
        </div>
    </div>
{% endblock %}
