{% extends 'base.html.twig' %}

{% block title %}Ajouter un tag{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.isPublish) }}
    <button type="submit">Ajouter un tag</button>
    {{ form_end(form) }}

{% endblock %}
